@{
    ViewBag.Title = "Index";
}

<h2>Painel de Questão</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
        <td>
            
        </td>
        <th></th>
    </tr>
</table>
